@page "/MyAds/{userId}"
@using BlazorFront.Services
@using BuisnesLogicLayer.DTO
@inject IAdServices adServices
@inject IUserServices userServices
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<div class="d-flex justify-content-center" id="liveNew">Мої оголошення</div>

<div class="d-flex justify-content-center">
    <NavLink class="hrefstyle" href="CreateAd"><a class="btn btn-success">Додати оголошення</a></NavLink>
</div>

<br>
<br>

<div class="favAds" style="margin: 0px 300px 0px 300px;">

    @foreach (var ad in ads)
    {
        <div class="ad" style="border: rgb(104, 104, 104) 3px solid;">
            <div id="forImg" class="d-flex justify-content-center" style="margin: 0px 0px 0px 0px; border-right:rgb(104, 104, 104) 3px solid;">
                <img class="imgFromAd" src="data:image/png;base64, @(Convert.ToBase64String(ad.images.FirstOrDefault().ImageFile))" width="100%" height="100%">
            </div>

            <div class="favInfo">
                <div class="d-flex justify-content-end" style="border-bottom: #1C6EA4 1px solid;">
                    <img src="@favIconSrc" @onclick="ChangeFav" style="width: 30px;cursor:pointer;margin-right:10px">
                    <img src="@compareIconSrc" @onclick="ChangeCompare" style="width: 30px;cursor:pointer">
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Площа:</font> @ad.AreaOfHouse</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Кількість кімнат:</font>@ad.RoomNumber</div>
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Рік будинку:</font> @ad.HouseYear</div>
                </div>


                <div class="favInfoTxt">
                    @if (ad.PurchaseOportunity)
                    {
                        <div style="margin-left: 10px;"><font color="gray">Вид угоди:</font>Купівля</div>
                    }
                    else
                    {
                        <div style="margin-left: 10px;"><font color="gray">Вид угоди:</font>Оренда</div>
                    }
                </div>

                <div class="favInfoTxt">
                    @if (ad.Balkon)
                    {
                        <div style="margin-left: 10px;"><font color="gray">Балкон:</font>Є</div>
                    }
                    else
                    {
                        <div style="margin-left: 10px;"><font color="gray">Балкон:</font>Нема</div>
                    }
                </div>

                <div class="favInfoTxt">
                    <div style="margin-left: 10px;"><font color="gray">Ціна:</font> <b>@ad.Price</b></div>
                </div>

                <button @onclick="() => GoToAd(ad.Id)">Перейти</button>
            </div>


        </div>
    }

</div>
@code {
    [Parameter] public string userId { get; set; }

    public IEnumerable<AdInfoDTO> ads = new List<AdInfoDTO>();
    protected override async Task OnInitializedAsync()
    {
        ads = await adServices.GetAdsByUserId(userId);
    }

    void GoToAd(int adId)
    {
        NavigationManager.NavigateTo($"/AdInfo/{adId}");
    }

    /*========================== Set/Unset favorite/compare ==========================*/

    string favIconSrc = "star1.png";
    string compareIconSrc = "compare1.png";

    void ChangeFav() => favIconSrc = favIconSrc == "star1.png" ? "star2.png" : "star1.png";

    void ChangeCompare() => compareIconSrc = compareIconSrc == "compare1.png" ? "compare2.png" : "compare1.png";
}
